@charset "utf-8";
.nav-btn-padding {
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;

}
#heading {
    margin-top: 65px;
}
.user-intro-card {
    height: 400px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.70) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.70) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.70) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.70) 100%);
    color: #FFFFFF;
}
.user-intro-name {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 2em;
}
.user-intro-info {
    padding-top: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
    padding-left: 19px;
    position: absolute;
    object-position: bottom;
    bottom: 0px;
    width: 100%;


}
.uberbooty-intro-card {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    /* [disabled]background-color: #FFFFFF; */
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
    margin-bottom: 25px;
}
.uberbooty-intro-card p {
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}
.uberbooty-intro card h4 {
    margin-bottom: 5px;

}
.trans-card-bg {
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.35) 100%);
}
#recently-active-home {
    /* [disabled]background-image: -webkit-linear-gradient(270deg,rgba(7,49,92,0.50) 0%,rgba(7,49,92,0.50) 100%), url(assets/img/bgk/bg-2.jpg); */
    /* [disabled]background-image: -moz-linear-gradient(270deg,rgba(7,49,92,0.50) 0%,rgba(7,49,92,0.50) 100%), url(assets/img/bgk/bg-2.jpg); */
    /* [disabled]background-image: -o-linear-gradient(270deg,rgba(7,49,92,0.50) 0%,rgba(7,49,92,0.50) 100%), url(assets/img/bgk/bg-2.jpg); */
    /* [disabled]background-image: linear-gradient(180deg,rgba(7,49,92,0.50) 0%,rgba(7,49,92,0.50) 100%), url(assets/img/bgk/bg-2.jpg); */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color-dodge;
}
#recently-active-home h2 {
    /* [disabled]color: #FFFFFF; */
}
.feature-icon {
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 6em;
    margin-top: 3px;
}
.type-badge {
    width: 61px;
    margin-top: -9px;
    margin-left: 16px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: center;
    color: #FFFFFF;
}
#icon-grid i {

}
.feature-icon {
}
